
/*░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 ░                                                                                                ░
 ░ Jordan T. Gray's                                                                               ░
 ░                                                                                                ░
 ░          HTML Designer                                                                         ░
 ░                                                                                                ░
 ░ FOSS 2022.                                                                                     ░
 ░ License decision pending.                                                                      ░
 ░                                                                                                ░
 ░ https://www.github.com/jdngray77/HTMLDesigner/                                                 ░
 ░ https://www.jordantgray.uk                                                                     ░
 ░                                                                                                ░
 ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*/


/**.tab-header-area,*/
/*.tab-header-background,*/
/*.tab,*/
/*.tab-pane,*/
/*.tab:selected,*/
/*.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator*/
/*{*/
/*    -fx-background-color: white;*/
/*}*/


.tab,
.tab-label
{
    -fx-background-color: red !important;
    -fx-start-margin: 0px !important;
    -fx-end-margin: 0px !important;
    -fx-padding: 0px !important;
    -fx-label-padding: 0px !important;
    height:0px!important;
}

.tab-header-area,
.tab-header-background {
    -fx-padding: 0px!important;
    -fx-max-height: 10px!important;
    -fx-background-color: red!important;
}