
/*All sockets.*/
.socket {}

/*
Base emitter marker.
May be overridden based on emitter type.
*/
.socket.emitter{
    -fx-background-insets: 3;
    -fx-border-color: limegreen;
    -fx-background-color: transparent;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}


/*
Base receiver marker.
May be overridden based on receiver type.
*/
.socket.receiver{
    -fx-background-insets: 3;
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}


/*All sockets that accept or emmit events.*/
.socket.trigger {
    -fx-border-radius: 10;
}

.socket.emitter.trigger {}
.socket.receiver.trigger {}



/*Sockets with connections.*/

.socket.populated {
    /*-fx-border-color: white;*/
}

.socket.emitter.populated {
    -fx-background-color: limegreen;
}

.socket.receiver.populated {
    -fx-background-color: orange;
}

/*Nodes*/

/*All ndoes*/
.node {
    -fx-background-color: #50505088;
    -fx-border-radius: 10;

    -fx-border-color: aqua;
    -fx-border-width: 1;
}

/*
Node head default color.
It's yellow to indicate that it has not been touched
on compile.

(Request context menu in the JsEditor's root to compile.)
*/
.node .head-text {
    -fx-background-color: rgba(255, 213, 0, 0.25);
}

/**
Clear the above color when the node is compiled.
 */
.node .head-text.touched {
    -fx-background-color: transparent;
}



/*Nodes that represent HTML elements in the webpage.*/
.node.element {

}

/*Nodes that represent js functions*/
.node.function {

}

/*Nodes that represent static values*/
.node.value {

}

/*Nodes that are not compiled, and are thus useless.*/
.node.uncompiled {

}


/* Line between two connected nodes */
.line {
    -fx-stroke: gray;
    -fx-stroke-width: 3;
    -fx-stroke-type: dashed;
}

/* A line being dragged by the user, not yet committed to any connection. */
.line.dragging {
    -fx-stroke-type: dashed;
    -fx-stroke: White;
}


/*Background of the entire Js editor.*/
.root {
    -fx-background-image: url("webb-dark.png");
    -fx-background-repeat: repeat;
}