
/*All sockets.*/
.socket {
}

/*
Base emitter marker.
May be overridden based on emitter type.
*/
.socket.emitter{
    -fx-border-color: limegreen;
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 999;
    -fx-background-radius: 999;
}


/*
Base receiver marker.
May be overridden based on receiver type.
*/
.socket.receiver{
    -fx-background-color: transparent;
    -fx-border-color: orange;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


/*All sockets that accept or emmit events.*/
.socket.trigger {
    /*-fx-border-radius: 10;*/
}

.socket.emitter.trigger {}
.socket.receiver.trigger {}



/*Sockets with connections.*/

.socket.populated {
    /*-fx-border-color: white;*/
}

.socket.emitter.populated {
    -fx-background-color: limegreen;
}

.socket.receiver.populated {
    -fx-background-color: orange;
}

/*.emitter, .receiver {*/
/*    -fx-border-width: 3;*/
/*    -fx-border-color: #282828;*/
/*}*/

/*Nodes*/

/*All nodes*/
.node {
    -fx-background-radius: 10;
    -fx-background-color: #373737;
}

/*
Node head default color.
It's yellow to indicate that it has not been touched
on compile.

(Request context menu in the JsEditor's root to compile.)
*/
.node .head-text {
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size: 14;


    -fx-background-color: rgba(13, 215, 20, 0.25);
    -fx-background-radius: 10 10 0 0;
}

.node > VBox {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #1c1c1c;
    -fx-border-width: 2;
}

.node > VBox > Pane {
    -fx-background-color: #1c1c1c;
}

/**
Clear the above color when the node is compiled.
 */
.node .head-text.touched {
    /*-fx-background-color: transparent;*/
}



/*Nodes that represent HTML elements in the webpage.*/
.node.element {

}

/*Nodes that represent js functions*/
.node.function {

}

/*Nodes that represent static values*/
.node.value {

}

/*Nodes that are not compiled, and are thus useless.*/
.node.uncompiled {

}


/* connector-line between two connected nodes */
.connector-line {
    -fx-stroke: #c4c4c4;
    -fx-stroke-width: 3;
    -fx-border-width: 100;
    -fx-border-color: White;
}

.connector-line:hover, .connector-line.node-hover {
    -fx-stroke: White;
}

/* A connector-line being dragged by the user, not yet committed to any connection. */
.connector-line.dragging {
    -fx-stroke-dash-array: 6 10;
    -fx-stroke: White;
}


/*Background of the entire Js editor.*/
.root {
    -fx-background-image: url("webb-dark.png");
    -fx-background-repeat: repeat;
}